include requirements.txt
include LICENSE
include VERSION
include README
include sumomongodbatlascollector/mongodbatlas.yaml
exclude sumomongodbatlascollector/apidemo.py
exclude sumomongodbatlascollector/sumoclient/auth.py